.main-sect-03-a {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
   padding: 1.5rem 0.75rem 2rem;
   > section {
      &:last-child {
         padding-top: 0;
      }
      > h2 {
         font-size: 1.2rem;
         text-indent: 0;
         text-align: center;
      }
      > ul {
         > li {
            > a {
               &::before {
                  margin: 0 0 0.5rem;
               }
            }
         }
      }
   }
}
